<footer class="page__footer">
  <div class="page__footer__icon">
    <img src="./assets/images/ico-arrow.svg" alt="Icono navegación Top" title="Go to Top"></div>
  <nav class="page__footer__menu">
    <ul>
      <li class="page__footer__menu__item uppercase"><a class="links" href="https://adalab.es/"
          target="blank"></a>Articles</li>
      <li class="page__footer__menu__item uppercase"><a class="links" href="https://adalab.es/" target="blank"></a>Books
      </li>
      <li class="page__footer__menu__item uppercase"><a class="links" href="https://adalab.es/"
          target="blank"></a>Events</li>
      <li class="page__footer__menu__item uppercase"><a class="links" href="https://adalab.es/"
          target="blank"></a>Reasons</li>
      <li class="page__footer__menu__item uppercase"><a class="links" href="https://adalab.es/" target="blank"></a>Tips
      </li>
    </ul>
  </nav>

  <nav class="page__footer__social-menu">
    <ul>
      <li class="page__footer__menu__item uppercase"><a class="links" href="https://adalab.es/"
          target="blank"></a>Twitter</li>
      <li class="page__footer__menu__item uppercase"><a class="links" href="https://adalab.es/"
          target="blank"></a>Instagram</li>
      <li class="page__footer__menu__item uppercase "><a class="links" href="https://adalab.es/"
          target="blank"></a>Mastodon.social</li>

    </ul>
  </nav>
  <div class="page__footer__copy">
    <p><small>&copy;2020</small></p>
    <p><small>We <span class="heart">&#10084;</span> componentes</small></p>
  </div>
</footer>