<footer class="page__footer">
  <div class="page__footer__icon">
    <img src="./assets/images/ico-arrow.svg" alt="Icono navegación Top" title="Go to Top"></div>


  <nav class="page__footer__menu">
    <ul>

      <li class="page__footer__menu__item">
        <a class="links uppercase " href="https://adalab.es/" title="Go to Adalab" target="blank">Articles</a>
      </li>
      <li class="page__footer__menu__item">
        <a class="links uppercase " href="https://adalab.es/" title="Go to Adalab" target="blank">Books</a>
      </li>
      <li class="page__footer__menu__item">
        <a class="links uppercase " href="https://adalab.es/" title="Go to Adalab" target="blank">Events</a></li>
      <li class="page__footer__menu__item">
        <a class="links uppercase " href="https://adalab.es/" title="Go to Adalab" target="blank">Reasons</a></li>
      <li class="page__footer__menu__item">
        <a class="links uppercase " href="https://adalab.es/" title="Go to Adalab" target="blank">Tips</a>
      </li>
    </ul>
  </nav>

  <nav class="page__footer__social-menu">
    <ul>
      <li class="page__footer__menu__item"><a class="links uppercase " href="https://adalab.es/" title="Go to Adalab"
          target="blank">Twitter</a></li>
      <li class="page__footer__menu__item"><a class="links uppercase " href="https://adalab.es/" title="Go to Adalab"
          target="blank">Instagram</a></li>
      <li class="page__footer__menu__item"><a class="links uppercase " href="https://adalab.es/" title="Go to Adalab"
          target="blank">Mastodon.social</a></li>
    </ul>
  </nav>
  <div class="page__footer__copy">
    <p><small>&copy;2020</small></p>
    <p><small>We <span class="heart">&#10084;</span> componentes</small></p>
  </div>
</footer>