<footer class="page__footer">

  <ul>
    <li><a class="link uppercase" href="https://adalab.es/" target="blank"></a>Articles</li>
    <li><a class="link uppercase" href="https://adalab.es/" target="blank"></a>Books</li>
    <li><a class="link uppercase" href="https://adalab.es/" target="blank"></a>Events</li>
    <li><a class="link uppercase" href="https://adalab.es/" target="blank"></a>Reasons</li>
    <li><a class="link uppercase" href="https://adalab.es/" target="blank"></a>Tips</li>
  </ul>
  <ul>

    <li><a class="link uppercase" href="https://adalab.es/" target="blank"></a>Twitter</li>
    <li><a class="link uppercase" href="https://adalab.es/" target="blank"></a>Instagram</li>
    <li><a class="link uppercase" href="https://adalab.es/" target="blank"></a>Mastodon.social</li>

  </ul>
  <div class="footer__copy">
    <small>&copy;2020</small>
    <small>We &#10084; componentes</small>
  </div>
</footer>