<header id="header" class="header">
  <a class="header__menu-icon" title="Go to Adalab" href="https://www.adalab.es" title="Go to Adalab's page"
    target="blank"> <img src="./assets/images/ico-menu.svg" alt="Icono navegación Web"></div></a>
  <h1 class="header__title 
  uppercase">Anonymous proxy</h1>
  <h3 class="header__text">In hac habitasse platea dictumst.</h3>
  <a class="link 
  header__button" href="#purchase" alt="Icono navegación a Reasons" title="Go to 3 Reasons To Purchase"></a>

</header>