<main class="page__main">
  <section class="page__main__tips">
    <h4>Insomnia Tips</h4>
    <h1>Looking Through A Window</h1>
    <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper
      sodales rutrum.</p>
    <div>
      <a class="link" href="#">Go</a>
    </div>
  </section>
  <section class="page__main__reasons">
    <include src="./purchase-item.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur."></include>
    <include src="./purchase-item.html" title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie.">
    </include>
    <include src="./purchase-item.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></include>
    <div class="page__main__button">
      <a class="link" href="https://adalab.es/" target="blank">More reasons</a>
    </div>
  </section>
  </body>
</main>