<section class="main__tips">
  <!-- Sección que consta de título y texto y un botón (a la web de Adalab)-->

  <!-- tips -->
  <h5 class="main__tips__info capitalize">Insomnia tips</h5>

  <!-- título con la primera letra de cada palabra en mayúscula -->
  <h2 class="main__tips__title capitalize">Looking through a window</h2>

  <!--párrafo-->
  <p class="main__tips__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec
    lectus. Vivamus semper sodales rutrum.</p>

  <!--boton a Adalab-->
  <div class="main__tips__button">
    <a class="links" href="https://adalab.es/" title="Go to Adalab" target="blank">Go</a>
  </div>
</section>