<section class="hero">
  <!-- Esta sección consta de background con skyline NY, un título, un texto y un botón a la sección 3-->

  <div class="page-wrapper">
    <!--para columna central-->

    <!-- título en mayúculas-->
    <h1 class="hero__title 
  uppercase">Anonymous proxy</h1>

    <!--texto-->
    <h3 class="hero__text">In hac habitasse platea dictumst.</h3>

    <!--botón-->
    <a class="link 
  hero__button" href="#purchase" alt="Icono navegación a Reasons" title="Go to 3 Reasons To Purchase"></a>
  </div>
</section>