// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;

// colors
$color-white-2: #f3f4f5;
$color-white: #ffffff;
$color-dark-grey-blue: #304268;
$color-cerulean: #0271bc;
$color-light-blue: #8ccbea;
$color-black: #000000;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-greyish-brown: #4a4a4a;
$color-bright-orange: #f26002;
$color-ice-blue: #eff9ff;
