.footer {
  height: 465px;
  background-color: $color-dark-grey-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 60px 15px 45px 15px;

  @media all and (min-width: 768px) {
    padding: 45px 0px;
    height: 240px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  @media all and (min-width: 1200px) {
    padding: 45px 370px;
  }
  &__button {
    background-color: #f3f4f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    left: calc(50% - 22px);
    top: -22px;
    animation-name: botiboti;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  @keyframes botiboti {
    0% {
      box-shadow: 0 2px 4px 0 $color-black-50;
      top: -22px;
    }
    40% {
      box-shadow: 0 2px 20px 0 $color-black-50;
      top: -32px;
    }

    70% {
      box-shadow: 0 2px 40px 0 $color-black-50;
    }

    100% {
      box-shadow: 0 2px 4px 0 $color-black-50;
      top: -22px;
    }
  }

  &__menu,
  &__social-menu {
    font-family: $font-main;
    // color: white;
    list-style-type: none;
    font-size: 16px;
    text-align: center;

    @media all and (min-width: 768px) {
      text-align: left;
      padding-left: -20px;
    }
  }
  &__menu {
    width: 161px;
    padding: 0 30px;
  }
  &__menu__item {
    list-style-type: none;
    margin: -15px 0;
    &:hover,
    &:active {
      text-shadow: 1px 1px 1px $color-bright-orange;
    }
  }
  &__copy {
    font-family: $font-main;
    color: white;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    display: block;
    @media all and (min-width: 768px) {
      order: -1;
      margin-left: -70px;
      text-align: left;
      line-height: 1.5;
    }
    @media all and (min-width: 1200) {
      margin-left: 0; /*trabaja sólo el flex*/
    }
  }
}
.heart {
  color: $color-bright-orange;
}
