.page__footer {
  height: 465px;
  background-color: $color-dark-grey-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 60px 15px 45px 15px;

  @media all and (min-width: 768px) {
    padding: 45px 39px;
    height: 240px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media all and (min-width: 1200px) {
    padding: 45px 370px;
  }
  &__button {
    background-color: #f3f4f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 $color-black-50;
    position: absolute;
    top: -22px;
    left: calc(50% - 22px);
  }
  &__menu,
  &__social-menu {
    font-family: $font-main;
    // color: white;
    list-style-type: none;
    font-size: 16px;
    text-align: center;

    @media all and (min-width: 768px) {
      text-align: left;
      padding-left: -20px;
    }
  }
  &__menu__item {
    list-style-type: none;
    line-height: 0;
    margin: -15px 0;
  }
  &__copy {
    font-family: $font-main;
    color: white;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    display: block;
    @media all and (min-width: 768px) {
      order: -1;
      text-align: left;
      line-height: 1.5;
    }
  }
}
.heart {
  color: $color-bright-orange;
}
