.footer {
  height: 465px;
  background-color: $color-dark-grey-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 60px 15px 45px 15px;

  @media all and (min-width: 768px) {
    padding: 45px 0px;
    height: 240px;
    flex-direction: row; /*a partir de tablet cambia a una fila*/
    align-items: flex-start;
    justify-content: space-evenly;
  }

  @media all and (min-width: 1200px) {
    padding: 45px 370px;
  }

  /*MENUS NAV*/
  &__menu,
  &__social-menu {
    font-family: $font-main;
    list-style-type: none;
    font-size: 16px;
    text-align: center;

    @media all and (min-width: 768px) {
      text-align: left;
      padding-left: -20px;
    }
  }

  &__menu {
    width: 161px;
    padding: 0 30px;
  }

  &__menu__item {
    list-style-type: none;
    margin: -15px 0;

    /*pequeño efecto sobre los links*/
    &:hover,
    &:active {
      text-shadow: 1px 1px 1px $color-bright-orange;
    }
  }

  /*COPY*/
  &__copy {
    font-family: $font-main;
    color: white;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    display: block;

    @media all and (min-width: 768px) {
      order: -1;
      margin-left: -70px;
      text-align: left;
      line-height: 1.5;
    }
    @media all and (min-width: 1200) {
      margin-left: 0; /*trabaja sólo el flex*/
    }
  }
}
.heart {
  color: $color-bright-orange;
}
