.page__header {
  background-image: url("../images/cover.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: 768px) {
    justify-content: flex-end;
  }

  &__title {
    font-family: $font-titles;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: $color-white;
    padding-top: 284px; /*Margin me mueve el background*/
    line-height: 1.31;
    @media all and (min-width: 768px) {
      font-size: 80px;
      line-height: 1.33;
      margin-top: -10px;
    }
    @media all and (min-width: 1200px) {
      font-size: 100px;
      max-width: 730px;
    }
  }
  &__text {
    font-family: $font-main;
    font-size: 16px;
    color: $color-white;
    text-align: center;
    padding-top: 10px;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__button {
    background-color: $color-white;
    background-image: url(../images/ico-scroll-down.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin: 45px 0 53px 0;
    @media all and (min-width: 768px) {
      margin: 30px 0 45px 0;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 13px;
    }
  }
  &__menu-icon {
    width: 44px;
    height: 44px;
    background-color: $color-cerulean;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0;
  }
}
