.header__menu-icon {
  width: 44px;
  height: 44px;
  background-color: $color-cerulean;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /*no desaparece con scroll*/
  top: 0%;
  left: 0;
}
