.main__reasons {
  padding: 30px 15px 60px 15px;
  background-color: $color-ice-blue;

  /*GRID*/
  /*1 columna y 5 filas*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 3fr, 3fr, 3fr, 3fr; /*primera fila título más pequeña */
  grid-template-areas: "title" "first" "second" "third" "button";
  row-gap: 45px;
  justify-items: center; /*Centrado en la columna*/

  @media all and (min-width: 768px) {
    /*GRID de 3 columnas y 3 filas, incluyo título y botón*/
    grid-template-columns: auto auto auto;
    grid-area: auto auto auto;
    grid-template-areas: "title title title" "item1 item2 item3" "button button button";
    column-gap: 27.5px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 80px 60px 81px;
  }

  /*TÍTULO*/
  &__title {
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    color: $color-black;

    @media all and (min-width: 768px) {
      font-size: 26px;
      grid-area: title;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
    }
  }

  /*CADA ITEM*/
  &__item {
    width: 180px;
    text-align: center;

    @media all and (min-width: 768px) {
      width: 100%;
    }
    /*TÍTULO DEL ITEM*/
    &__title {
      font-family: $font-titles;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.67;
      @media all and (min-width: 768px) {
        font-size: 24px;
      }
    }
    /*TEXTO DEL ITEM*/
    &__text {
      font-family: $font-main;
      font-size: 18px;
      line-height: 1.67;
      @media all and (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
