.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
.links {
  text-decoration: none;
  line-height: 45px;
}
@import "./main-tips";
@import "./main-reasons.scss";
