.hero {
  /*imagen de fondo con gradiente desde abajo*/
  background-image: url("../images/cover.jpg"),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 25%, #cccccc);
  background-position: top center;
  background-size: cover;
  background-blend-mode: multiply; /* para el gradiente*/
  height: 100vh; /*Petición que ocupe todo el alto de pantalla*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /*item parte baja de la imagen*/
  align-items: center;

  /*título*/
  &__title {
    font-family: $font-titles;
    font-size: 42px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;
    color: $color-white;
    line-height: 1.31;

    @media all and (min-width: 768px) {
      font-size: 80px;
      line-height: 1.33;
      max-width: 690px;
    }
    @media all and (min-width: 1200px) {
      font-size: 100px;
      max-width: 730px;
    }
  }

  /*frase debajo del título*/
  &__text {
    font-family: $font-main;
    font-size: 16px;
    color: $color-white;
    text-align: center;
    padding-top: 10px; /*separación con el título */

    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }
}
